@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VerdanaCustom';
  src: url('/assets/fonts/verdana.ttf') format('truetype');
}

hr {
  border-top-width: 2px;
}
